body {
    font-family: sans-serif;
    text-align: center;
}

.profile-image{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 40px;
    border-radius: 9999px;
}

.name{
    font-size: 26px;
    margin-bottom: 4px;
}

.title{
    font-size: 14px;
    font-weight: normal;
    margin-top: 4px;
    color:darkgray;
}

.link{
    background-color: #F0F0F0;
    display: inline-block;
    width: 320px;
    color: black;
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    font-family: serif;
}

.hello{
    color:cyan;
    font-style: italic;
}

footer{
    margin-top: 40px;
    font-size: 13px;
}